* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --azul-escuro: #13335b;
    --cinza: #D9D9D9;
    --azul: #0097B2;
    --branco: #FFFFFF;
    --preto: rgb(20, 20, 20);
    --cinza: rgb(170, 169, 169);
}




.background-img img {
    position: fixed;
    margin-top: -5px;
    width: 100vw;
    height: 85vh;
}

/* Header  */
.header {
    background-color: var(--azul-escuro);
    height: 12vh;
    display: inline-block;
    width: 100vw;
}


nav {
    width: 100vw;
    display: inline-block;
}

.header a {
    text-decoration: none;
    color: var(--branco);
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 2.2vh;
    border-bottom: 3px solid var(--branco);
}

.header a:hover {
    color: var(--branco) !important;
}

.navbar-items {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.not-selected {
    color: var(--cinza) !important;
    border: none !important;
}

.tiao-img {
    width: 220px;
    height: 85px;
}


aside {
    background-color: var(--azul-escuro);
    float: right;
    width: 385px;
    height: 100vh;
    min-width: 35vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

aside a {
    color: var(--azul);
}

aside a:hover {
    color: #0ab8d6;
}

aside img {
    margin-top: 5vh;
    width: 200px;
    height: 80px;
}


aside h1 {
    color: var(--branco);
    margin-top: 7vh;
    font-size: 38px;

}


#login {
    margin-top: 10px;
}

#login button {
    width: 320px;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    border: none;
    background-color: var(--azul);
    color: var(--branco);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#login button:hover {
    background-color: #0ab8d6;
}

.loginText {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#LabelRemindMe {
    color: var(--branco);
    margin-right: 200px;

}

figure img{
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        min-width: 65vw;
        min-height: 100vh;

}




.user {
    display: flex;
    align-items: center;
}

.user p {
    font-size: 18px;
    color: var(--branco);
    margin-right: 22px;
}

.user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 5px;
}

.mdc-card {
    scale: 20%;
}

@media only screen and (max-width: 900px) {
    aside {
        width: 100%;
    }
}